/* CSS 추가 */
/* 카테고리 */
.searchBox{
    width: 85%;
    margin: 0 auto;
}


.searchCategory{
    display: flex;
    margin-top: 10px;
}

.searchBtn{
    background: #000;
    color: #fff;
    border-radius: 5px;
    margin: 0 10px;
    width: 50px;
}

.myReviewPage {
    background: #000;
    color: #fff;
    
}

.css-14tjg8b-MuiPaper-root-MuiCard-root{
    float:left; overflow:hidden !important; max-width: initial !important; margin-right:0px !important; width:24%; margin:10px 10px 10px 10px
}

.my{
    margin-right: 15px;
    width: 170px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
}

.wrapper{
    width: 100%;
    margin-top: 60px;
}

.main{
    width:85%;
    margin: 0 auto;
    min-height: 600px;
}

.allPosts{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}


.nopost{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    
}

.newBtnBox{

    width: 72%;
    display: flex;
    justify-content: flex-end;
    
}

.newPostBtn{
    background: #000;
    color: #fff;
    border-radius: 5px;
    width: 140px;
    height: 35px;
    margin-top: 15px;

}


.msg{
    color: red;
    font-size: medium;
}

.noPostInMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}


