header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 0 40px;
    border-bottom: 2px solid #CCCCCC;
    
    
    background: #000;
    color: #fff;    
}



.logo{
    font-weight: bold;
    font-size: 30px;
}


img {
    height: 60px;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    width: 120px;
    box-sizing: border-box;
    padding: 0 20px;

    border: 1px solid #000;
    border-radius: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

.leftmenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    
    box-sizing: border-box;
    padding: 0 10px;

    
}

.menu-open{
    height: 50px;
    width: 100px;

    background: #fff;
    color: #000;
 
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    
    box-sizing: border-box;

    font-weight: bold;
   
}


.gnb{
    background:#000;
    opacity:0.8;
    font-size: 30px;
    
    width: 450px;
    min-height : 2000px;
    /*절대값으로 위치 조정*/
    position:fixed;
    
    right: -100%;
    top:0;    
    display:flex;
    flex-direction:row-reverse;
    box-sizing: border-box;
    transition: 0.4s;
    padding: 100px 40px 0px 0px;

    justify-content: space-around;

}



.close{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    color: #fff;
    font-size: 25px;
    padding-top: 20px;
}

.gnb ul{
    margin-top:100px;
    list-style: none;
    
}
.gnb ul li{
    margin-bottom : 50px;
}

a{
    font-size: 27px;
    color: #fff;
}

a:hover{
    font-weight: bold;
    font-size: 30px;
}
