.contentBox{
    border: 1px solid #000;
    border-radius: 5px;
    width: 500px;
    padding: 5px 10px;
}

.updateImage{
    width : 400px;
    height : 400px;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
}

.updateContent{
    width : 850px;
    height : 400px;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
}

