.wrapperNewPost{
    font-size: 30px;
    width: 85%;
    margin: 0 auto;
}

.letter{
    font-size: 40px;
    font-weight: bold;
    margin: 50px 0;

} 

.alertMsg{
    color: red;
    font-size: 15px;
    margin-top: 50px;
    padding-left: 160px;
}

.categories{

    display:flex;
    align-items: center;
}

.category{
    font-weight : bold;
    font-size : 30px;
    margin-right: 40px;
}


.area, .address{
    width : 130px;
    height: 40px;
}



.title{
    display: flex;
    list-style: none;
    padding: 0;
}

.titlelabel{
    margin-right: 100px;
    font-weight: bold;    
}
.titlewrite{
    width : 600px;
    font-size:20px;
    font-weight: bold;
    height : 1%;
    resize : none;

}


.both{
    margin-top: 50px;
}


.imagelabel{
    font-size: 15px;
}
.newContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.putimage{
    width : 400px;
    height : 400px;
}
.writecontent{
    width : 850px;
    height : 400px;
}

.postit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;

  width : 300px;
  height : 50px;
  font-size : 20px;
  font-weight: bold;
  color : #fff;
  background-color: #000;
  border-radius: 5px;
}

.thumbnail-box{
    width : 350px;
    height : 400px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thumbnail-box img{
    width : 350px;
    height : 400px;
}

.post-img-label{
    font-size: 15px
}
    

