.postCategory{
    display: flex;
    margin-top: 30px;
    padding-left: 100px;
    
}

h2{
    margin-left: 20px;
    width: 130px;
    height: 35px;
    font-size: 20px;
    font-weight: normal;
    border: 1px solid #000;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.date{
    margin-left: 120px;
    margin-bottom: 10px;
}



.postImage {
    background: pink;
    width: 50%;
    height: 380px;
    margin: 40px auto;
    border-radius: 10px;
    overflow: hidden;
    
}

.postImage img {
    width: 100%;
    height: 380px;
    
}

.content {
    background: #f2f2f2;
    width: 70%;
    height: 300px;
    margin: 0 auto 50px;
}

.titleAndIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
}

.postIcons{
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.commentList{
    /* margin: 0 auto; */
    margin: 0 15%;
}

.wrapperInPostDetail{
    width: 85%;
    margin: 0 auto;
}