.myReviewPage {
    background: #000;
    color: #fff;
    
}

.my{
    margin-right: 15px;
    width: 170px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.myPosts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
}