.wrapperMyPage{
    min-height:600px;
}

#root{
    margin-top:200px;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
    
}

.myPosts, .myLikes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 70px;
}

.morePosts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.nopost, .noLike, .noLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    
}

.newPostBtn{
    background: #000;
    color: #fff;
    border-radius: 5px;
    width: 140px;
    height: 35px;
    margin-top: 15px;
}



